/* Highlight JS */

pre code {color: #000}
pre .comment, pre .javadoc {color: #998; font-style: italic}
pre .keyword {color: #000; font-weight: bold}
pre .number {color: #40a070}
pre .string {color: #d14}
pre .title {color: #900; font-weight: bold}
pre .class .title {color: #458; font-weight: bold}

/* Typographics and layouts */

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  color: #252519;
  margin: 0; padding: 0;
}

a {color: #333}
a:visited {color: #555}
p {margin: 0 0 16px 0}
h1, h2, h3, h4, h5, h6 {margin: 16px 0 16px 0}
h3, h4, h5, h6 {margin-top: 12px}
table td {border: 0; outline: 0}

.docs {
  max-width: 500px;
  min-width: 500px;
  min-height: 5px;
  padding: 8px 16px 0 32px;
  vertical-align: top;
  text-align: left;
}

.docs p, .docs li {line-height:24px}

.docs pre {
  margin: 16px -16px 16px -32px;
  padding: 8px;
  background:#f7fff7;
  border: 1px solid #dedede;
  border-width:1px 0 1px 0;
  overflow-x:auto;
}

.docs code {background:#f7fff7}

.octowrap {position: relative}

.octothorpe {
  font: 12px Arial;
  text-decoration: none;
  color: #454545;
  position: absolute;
  top: 3px;
  left: -20px;
  padding: 1px 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}

.docs:hover .octothorpe {opacity: 1}

.code {
  padding: 8px;
  width: 100%;
  vertical-align: top;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
}

.code pre code, .docs pre code {
  font: 12px Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}

/* Index page */

#docco-index li {line-height: 24px}
#docco-index > h1 {margin: 16px 32px}
#docco-index > ul > li {list-style:none outside}
#docco-index > ul > li > p {
  color: #458;
  margin: 0;
}

