body {
  background: #aaa;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

#outer {
  width: 640px;
  border-radius: 8px;
  background: #eee;
  margin: 0 auto;
  padding: 16px;
}

h1 {
  margin:4px 0;
  font-size:1.5em;
}

pre {
  margin:0;
  border:1px solid #777;
  padding:8px;
  background:#fff;
}

#footer {
  text-align: center;
}