@import "basic.css";
@import "bars.css";
@import "sections.css";

#header {
  height:260px;
  background:transparent url("/img/layout/header-bkg.png") repeat-x bottom center;
}

#headerContent, #header h1, #header h1 a {
  width:680px;
  height:260px;
  margin:0 auto;
  background: url(/img/layout/header.png) bottom center no-repeat;
}

#header h1 a {
  text-indent: -9999px;
  position: relative;
  top: 100px; left: 12px;
  width: 426px;
  height: 82px;
  overflow: hidden;
  display: block;
  background: transparent;
}

/* Layout base */

.nav ul {
  margin-top:5px;
  padding:0;
}

.nav li {
  float:left;
  margin:0 12px;
  list-style:none;
}

#outer {
  margin:-36px auto 0;
  width:680px;
}

#content {
  color:#333;
  text-align:justify;
}

/* Footers */

#footer {
  clear:both;
  margin:16px auto;
  background:transparent url("/img/layout/footer-bkg.png") no-repeat;
  width:320px;
  height:64px;
  padding:14px;
}

#footer span, #footer a {
  font-size:0.9em;
  font-style:italic;
  color:#fff;
}

#footer .years {
  padding:16px;
}

#footer .home {
  padding-left:48px;
}

/* Content styles */

div.media {
  text-align:center;
}

ol.plain ul, ul.plain, ul.plain ul {
  list-style:none;
}

.uc {
  display:block;
  padding:8px;
  margin:8px;
  background:#ffffcc;
  border:1px solid #cca;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}

table.common {
  width:100%;
  border:1px solid #ccc;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-spacing:1px;
}

table.common th {
  border:1px solid #99CC99;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  background:transparent url(/img/bar-c.png) repeat-x 0 -8px;
  color:#fff;
  text-shadow:0 1px 1px #090;
  text-align:center;
}

table.common td {
  border:1px solid #ccc;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}