<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>Circumflex Filter</filter-name>
    <filter-class>circumflex.core.CircumflexFilter</filter-class>
    <init-param>
      <param-name>router</param-name>
      <param-value>myapp.MainRouter</param-value>
    </init-param>
    <init-param>
      <param-name>mode</param-name>
      <param-value>development</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Circumflex Filter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
</web-app>
